# Dependencias
node_modules/

# Variables de entorno
.env

# Base de datos
database/*.db
database/*.db-journal

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/node_modules/
.env
database/almacen.db
public/uploads/
*.log
.DS_Store